
#form-send-data{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--color-boix);
  width:100%;
}

#form-payment-data{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--color-boix);
  width:100%;

}
.form-control{
  border-color: var(--color-boix);
  width:100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-ccn{
  border-color: var(--color-boix);
  width:100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-expiry-month{
  border-color: var(--color-boix);
  width:100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-expiry-year{
  border-color: var(--color-boix);
  width:100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.form-control-cvc{
  border-color: var(--color-boix);
  width:100%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}

.btn-submit{
  width:100%;
  margin-top: 20px;
}
